{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/Login/login.css' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/Group6846.svg'%}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/shared/constants.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Login/login.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/shared/cookie.js' %}"></script>
    <link href="{% static 'fonts/Montserrat-Regular.ttf' %}" rel="stylesheet" media="screen">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Employee Portal Login</title>
</head>

<body>
    <div class="main-container">
        <div class="login-container">
            <div class="logo-container">
                <img src="../../static/assets/LOGO-DARK-02.png">
            </div>
            <div class="login-label">
                LOGIN
            </div>
            <div class="login-user">
                <div>
                    <input type="radio" name="user" value="admin" id="loginUser" checked>&nbsp;&nbsp;<span
                        id="userRole">Admin</span>
                </div>
                <div>
                    <input type="radio" name="user" value="employee" id="loginUser">&nbsp;&nbsp;<span
                        id="userRole">Employee</span>
                </div>
            </div>
            <div class="input-container">
                <div class="username-container">
                    <img id="userfield_icon" src="../../static/assets/username_icon.png">
                    <input type="text" id='username' placeholder="User Name">
                </div>
                <div class="password-container">
                    <img id="userfield_icon" src="../../static/assets/password_icon.png">
                    <input type="password" id='password' placeholder="Password">
                </div>
            </div>
            <div class="error hide" id="hide-error">
                <p>Incorrect username or password</p>
            </div>
            <div class="button-container">
                <button class="login-button" id='login' onclick="validate_login()">Login</button>
            </div>
        </div>
    </div>
</body>

</html>