{% load static %}
<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/shared/constants.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/UserManagement/UserManagement.css' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/Group6846.svg'%}" />
    <link rel="stylesheet" href="{% static 'css/shared/pagination.css' %}">
    <script type="text/javascript" src="{% static 'js/shared/pagination.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/UserManagement/LeaveSettings.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/shared/toaster.css' %}">
    <script type="text/javascript" src="{% static 'js/shared/cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/shared/loader.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/shared/constants.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/shared/loader.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="{% static 'fonts/Montserrat-Regular.ttf' %}" rel="stylesheet" media="screen">
    <script type=text/javascript>
        var categoryMaster = JSON.parse(("{{result | safe}}").replace(/'/g,'"'));
    </script>
</head>

<body>
    <div id="loader" class="center"></div>
    <div class="main-container">
        {% include "Shared/SideNavigation.html" %}
        <div class="header-container">
            {% include "Shared/HeaderNavigation.html" %}
            <div class="module-section">
                <div class="module-name-section">Leaves Setting</div>
                <div class="search-section">
                    <div class="search-container">
                        <input class="search-field" id="searchKey" type="text" placeholder="Search">
                        <img class="search-icon" id="search-image" src="{% static 'assets/magnifying-glass.png' %}"
                            onclick="searchRecords()">
                    </div>
                </div>
                <div class="add-user-container">
                    <button class="add-button" id ="add-button" data-toggle="modal" data-backdrop="static" data-target="#myModal"
                        onclick="resetForm()">ADD</button>
                        <form name="userForm" id="addForm">
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">
    
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title" id="modal_header">ADD Leave Type</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="categoryName-field">
                                                <label class="categoryName-label">Leave Type</label><br>
                                                <input type=text class="categoryName-input"
                                                    id="leaveName" >
                                                <div class="validation-field" id="leaveName_error"></div>
                                            </div><br>
                                            <div class="categoryName-field">
                                                <label class="categoryName-label">Monthly Limit</label><br>
                                                <input type=number class="categoryName-input" 
                                                    id="monthlyLimit"  value ="1" placeholder="number of days">
                                                <div class="validation-field" id="number_error"></div>
                                            </div><br>
                                            <div class="categoryName-field">
                                                <label class="categoryName-label">Yearly Limit</label><br>
                                                <input type=number class="categoryName-input"
                                                    id="yearlyLimit"  value ="10" placeholder="number of days" onkeyup="validateForm()">
                                                <div class="validation-field" id="number_error2"></div>
                                            </div><br>
                                        </div>
                                        <div class="footer">
                                            <div class="button-section">
                                                <button type="button" class="close-button"
                                                    data-dismiss="modal">CLOSE</button>
                                            </div>
                                            <button type="button" class="submit-button" id="submit"
                                                onclick="submitAddForm()">SUBMIT</button>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                        </form>
                </div>
            </div>
            <div class="main-screen">
                <table id="listStores">
                    <tbody>
                        <tr class="tableRow">
                            <th onclick="sortHeaderName('leave_type')">Leave Type
                                <img class="sort-icon" src="../../static/assets/sortIcon.png">
                            </th>
                            <th>Monthly Limit
                            </th>
                            <th>Yearly Limit</th>
                        </tr>
                        <tr id="dataRecord" class="data-row">
  
                    </tbody>
                </table>
            </div>
            <!-- <div class="modal fade" id="deleteModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" id="modal_header">DELETE CATEGORY</h4>
                        </div>
                        <div class="modal-body">
                            <h4>Are you sure you want to delete?</h4>
                        </div>
                        <div class="footer">
                            <div class="button-section">
                                <button type="button" class="close-button" data-dismiss="modal">NO</button>
                            </div>
                            <button type="button" class="submit-button" id="delete"
                                onClick="deleteCategory(this.id)">YES</button>
                        </div>
                    </div>
                </div>
            </div> -->
            <div id="no-record-container">No Records Found</div>
            <div class="tableFooter">
                <div class="paginationContainer" id="tableFooter">
                    {% include "Shared/pagination.html" %}
                </div>
            </div>
            <div id="toaster-container">
                <div id="snackbar">
                </div>
                <div class="image-section">
                <img id="close-image" src="../../static/assets/close-icon.png" onclick="closeToaster()">
                </div>
                </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</body>

</html>